/* Importações de fontes */
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;500;700;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

/* Estilos globais para a Pokédex */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #b7e0f7 0%, #3a5da8 100%);
  min-height: 100vh;
}